body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    height: 200Vh;
    width: 95vw;
    background-color:white;
    margin: auto;
}
.navbar{
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 95vw;
    justify-content: space-between;

    
}
.navbar button{
    width: 220px;
    height: 25px;
    border-radius: 10px solid black;
    
}


.British{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


    
    
}

.box1{
    position: relative;
height: 24vh;
width: 19vw;
background-color:  rgb(0, 168, 255);
}
.box2{ 
    position: relative;
height: 24vh;
width:19vw;
background-color:rgb(156, 136, 255);
}
.box3{ 
    position: relative;
height: 24vh;
width: 19vw;
background-color: rgb(251, 197, 49);
}
.box4{ 
    position: relative;
height: 24vh;
width: 19vw;
background-color: rgb(76, 209, 55);
}
.box5{ 
    position: relative;
height: 24vh;
width: 19vw;
background-color:rgb(72, 126, 176);
}
.box6{ 
    position: relative;
height: 24vh;
width: 19vw;
background-color: rgb(0, 151, 230);
}
.box7{ 
    position: relative;
height:24vh;
width:19vw;
background-color: rgb(140, 122, 230);
}
.box8{ 
    position: relative;
height: 24vh;
width: 19vw;
background-color: rgb(225, 177, 44);}
.box9{ 
    position: relative;
height: 24vh;
width: 19vw;
background-color: rgb(68, 189, 50);
}
.box10{
    position: relative;
height: 24vh;
width: 19vw;
background-color: rgb(64, 115, 158);
}
.box11{
    position: relative;
height: 24vh;
width: 19vw;
background-color:rgb(232, 65, 24) ;
}
.box12{
    position: relative;
height: 24vh;
width: 19vw;
background-color: rgb(245, 246, 250);
}
.box13{
    position: relative;
height: 24vh;
width: 19vw;
background-color: rgb(127, 143, 166);
}
.box14{
    position: relative;
height: 24vh;
width: 19vw;
background-color: rgb(39, 60, 117);
}
.box15{
    position: relative;
height: 24vh;
width: 19vw;
background-color: rgb(53, 59, 72);
}
.box16{
    position: relative;
height: 24vh;
width: 19vw;
background-color: rgb(194, 54, 22);
}
.box17{
    position: relative;
height: 24vh;
width: 19vw;
background-color: rgb(220, 221, 225);}
.box18{
    position: relative;
height: 24vh;
width: 19vw;
background-color: rgb(113, 118, 147);
}
.box19{
    position: relative;
height: 24vh;
width: 19vw;
background-color: rgb(25, 42, 86);
}
.box20{
    position: relative;
height: 24vh;
width: 19vw;
background-color: rgb(47, 54, 64);
}
h2{
    color: white ;
    font-weight: bold;
    font-size: 9px;
    position: absolute;
    top: 50px;
    left: 50px;

}
@media screen  and (max-width:280px){
    .navbar h1{
        display: none;
    }
    .navbar p{
        display: none;
    }
    button{
        width: 80vw;
        font-size: 40px;
        margin: auto;
        font-weight: bold;
    }
}
@media screen and (max-width:600px) {
    h2{
        display: none;
        
    }
}  